<%= content_for :scripts do %>
  <%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
<% end %>

<div class="page-header">
  <h2>Adicionar palestra</h2>
</div>

<p>Preencha os campos abaixo para adicionar uma nova palestra.</p>

<%= render 'form', talk: @talk %>
